<h1>List of Users</h1>

<%= @users.each do |user| %>
  <li>Name: <%= user.name %></li>
  <li>PD: <%= user.password_digest %></li>
  <li>Nausea: <%= user.nausea %></li>
  <li>Happiness: <%= user.happiness %></li>
  <li>Tickets: <%= user.tickets %></li>
  <li>Height: <%= user.height %></li>
  <br>

  <table>
    <tbody>
      <th><td>Name:</td></th>
    </tbody>
  </table>
  
<% end %>
