<h1>List of Users</h1>

<%= @users.each do |user| %>
  <li> Name: <%= user.name %></li>
  PD: <%= user.password_digest %></li>
  Nausea: <%= user.nausea %></li>
  Happiness: <%= user.happiness %></li>
  Tickets: <%= user.tickets %></li>
  Height: <%= user.height %></li>

<% end %>
